%p#notice= notice
= semantic_form_for [:ops, @ticket] do |f|
  = f.input :manager, label: 'Owner'
  = f.input :department
  = f.actions
%p
  %b Customer Email:
  = @ticket.customer.email
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Created At:
  = @ticket.created_at
%p
  %b Updated At:
  = @ticket.updated_at
%p Replays
- if @replays
  - @replays.each do |replay|
    %p
      %b Manager
      = replay.manager.name
    %p
      %b Body
      = replay.body
= semantic_form_for Replay.new do |f|
  = f.input :body
  = f.actions

= link_to 'Back', ops_tickets_path
