%p#notice= notice
= semantic_form_for [:ops, @ticket] do |f|
  = f.input :manager, label: 'Owner'
  = f.input :department
  = f.actions
%p
  %b Customer Email:
  = @ticket.customer.email
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Created At:
  = @ticket.created_at
%p
  %b Updated At:
  = @ticket.updated_at
%h2 Replies:
- @ticket.replies.each do |reply|
  %p
    %b= reply.manager.nil? ? 'customer' : reply.manager.name
  %p
    %b Reply:
    = reply.body

%h2 add a reply:
= semantic_form_for [@ticket, @ticket.replies.build] do |f|
  = f.input :body
  = f.input :manager_id, as: :hidden, value: current_user.id
  = f.actions

= link_to 'Back', ops_tickets_path
